@font-face {
   font-family: 'LifeCraft_Font';
   font-display: swap;
   src: url('file:///C:/Users/John/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-04-24_223716/fonts/LifeCraft_Font/font.ttf');
}
